<h2>Shopping Cart</h2>
<p class="warning" *ngIf='invalidQtyFlag'>Qty needs to be a positive integer</p>
<table>
  <tr>
    <th>Qty</th>
    <th>Item</th>
    <th>Desc</th>
    <th>Item Cost</th>
    <th>Total Cost</th>
  </tr>
  <tr *ngFor="let item of items" >
    <td><input type="text" placeholder="0" name="quantity" (keyup)="quantityChange($event,item)"></td>
    <td>{{item.name}}</td>
    <td>{{item.desc}}</td>
    <td>{{item.cost | currency : USD}}</td>
    <td>{{item.totalCost | currency : USD}}</td>
 </tr>
</table>

<div>
 <p>TotalCost</p> {{TotalCost | currency: USD}}
</div>

