.container{
   position: relative; 
   height: 100vh;
   width: 100vw;
}

.app-button{
    background-color: #b23000;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 100px;
    margin: 0;
    font-weight: bold;
}