.modal-back{
 position: absolute;
 height: 100%;
 width: 100%;
 z-index: 999;
 opacity: 0.89;
 background-color: rgba(0,0,0,0.6);
}

.modal{
   background-color: white;
   height: 500px;
   width: 70%;
   border: 1px solid darkslategrey;
   margin-left: 15%;
   margin-top: 5%;
   border-radius: 5px;
   z-index: 1000;

}

.modal-header{
 z-index: 1001;
 height: 20px;
}

.modal-header>button{
    border: none;
    cursor:pointer;
    float: right;
}

.modal-body{
 z-index: 1001;
 height:403px;
}

.modal-footer{
    z-index: 1001;
    height: 75px;
    float: right;
}









