<div class="modal-back" [ngStyle]="{'display':visible?'block':'none'}">
  <div class="modal">
    <div class="modal-header">
      <button routerLink="/checkout">X</button>
    </div>
    <div class="modal-body">
      <app-shopping-cart *ngIf="SCvisible" [TotalCost]="TotalCost" (outputToParent)="getOutputVal($event)"></app-shopping-cart>
      <app-payment *ngIf="paymentVisible" [TotalCost]="TotalCost"></app-payment>
      <app-confirmation *ngIf="confirmationVisible" ></app-confirmation>
    </div>
    <div class="modal-footer">
      <button type="button"  *ngIf="SCvisible" class="app-button" (click)="next()">Looks Good ></button>
      <button type="button"  *ngIf="paymentVisible" class="app-button" (click)="next()" > Back</button>
      <button type="button"  *ngIf="paymentVisible" class="app-button" (click)="toConfirmation()" >Pay></button>
      <button type="button"  *ngIf="confirmationVisible" class="app-button" routerLink="/checkout">Done!</button>
    </div>
  </div>
</div>