<h2>PAYMENT</h2>
<h3>TOTAL COST : {{TotalCost}}</h3>
<form [formGroup]="user" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
</form>

